@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

@include nb-install-component() {
  nb-card-body {
    font-size: 1.25rem;
    text-align: center;
    font-weight: bold;
  }
}
