<toaster-container [toasterconfig]="toasterConfig"></toaster-container>

<div class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header># Nodes</nb-card-header>
      <nb-card-body>{{ clusterInfoData.nodes?.length }}</nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>Controller</nb-card-header>
      <nb-card-body>{{ clusterInfoData.controller?.host }}</nb-card-body>
    </nb-card>
  </div>
</div>