<toaster-container [toasterconfig]="toasterConfig"></toaster-container>

<nb-card>
  <nb-card-header>
    ACLs - {{ selectedTopic }}
    <button class="btn btn-sm btn-dark pull-right" (click)="expandCollapseAcls()">{{ showAcls ? 'Collapse' : 'Expand' }}</button>
  </nb-card-header>
  <nb-card-body *ngIf="showAcls">
    <ng2-smart-table [settings]="settings" [source]="data | flatPropsAcl" (createConfirm)="onCreate($event)" (deleteConfirm)="onDelete($event)"></ng2-smart-table>
  </nb-card-body>
</nb-card>