<div class="modal-header">
  <span>{{ topicData.name }}</span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form name="configTopicForm" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div class="column">
      <div>
        <div class="form-group">
          <label for="compressionType">Compression Type</label>
          <select name="compressionType" class="form-control" [(ngModel)]="topicDataPiped['compression.type']" #compressionType="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && compressionType.invalid }" [value]="opt" required>
            <option *ngFor="let opt of compressionOpts">{{ opt }}</option>
          </select>
          <div *ngIf="f.submitted && compressionType.invalid" class="invalid-feedback">
            <div *ngIf="compressionType.errors.required">Compression Type is required</div>
          </div>
        </div>
      </div>
      <div>
        <div class="form-group">
          <label for="retentionMs">Retention (ms)</label>
          <input type="text" class="form-control" name="retentionMs" [(ngModel)]="topicDataPiped['retention.ms']" #retentionMs="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && retentionMs.invalid }" required />
          <div *ngIf="f.submitted && retentionMs.invalid" class="invalid-feedback">
            <div *ngIf="retentionMs.errors.required">Retention (ms) is required</div>
          </div>
        </div>
      </div>
      <div>
        <div class="form-group">
          <label for="minInsyncReplicas">Min Insync Replicas</label>
          <input type="number" step="3" name="minInsyncReplicas" class="form-control" [(ngModel)]="topicDataPiped['min.insync.replicas']"
            #minInsyncReplicas="ngModel" [ngClass]="{ 'is-invalid': f.submitted && minInsyncReplicas.invalid }" required />
          <div *ngIf="f.submitted && minInsyncReplicas.invalid" class="invalid-feedback">
            <div *ngIf="minInsyncReplicas.errors.required">Min Insync Replicas is required</div>
          </div>
        </div>
      </div>
      <div>
        <div class="form-group">
          <label for="partitionsCheckbox">Increase Partitions?</label>
          <input type="checkbox" class="pull-right" name="partitionsCheckbox" (change)="onPartitionsTick()" />
          <input *ngIf="increasePartitions" name="increasePartitionsInput" type="number" class="form-control" [(ngModel)]="partitions"
            min="0" />
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-md btn-primary" (click)="onSubmit()">Save changes</button>
</div>