<toaster-container [toasterconfig]="toasterConfig"></toaster-container>

<nb-card>
  <nb-card-header>
    Topics
    <button class="btn btn-sm btn-dark pull-right" (click)="expandCollapseTopics()">{{ showTopics ? 'Collapse' : 'Expand' }}</button>
  </nb-card-header>
  <nb-card-body *ngIf="showTopics">
    <ng2-smart-table [settings]="settings" [source]="data | flatPropsTopic" (userRowSelect)="onUserRowSelected($event)" (createConfirm)="onCreate($event)"
      (deleteConfirm)="onDelete($event)"></ng2-smart-table>
  </nb-card-body>
</nb-card>