<toaster-container [toasterconfig]="toasterConfig"></toaster-container>

<nb-card>
  <nb-card-header>Topic Switcher
    <hr/>
    <ng-select [items]="topics" bindLabel="topic.name" bindValue="topic.name" [(ngModel)]="selectedTopic" (change)="onTopicChange()"></ng-select>
  </nb-card-header>
</nb-card>