@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

@include nb-install-component() {
  nb-card-header {
    text-align: center;
    font-size: 3rem;
  }

  nb-card-body {
    text-align: center;
    font-size: 2rem;
  }
}
