<nb-card>
  <nb-card-header>Speak With Us! We want your feedback</nb-card-header>
  <nb-card-body>
    If you need a dedicated cluster for you project please contact
    <br>
    <a href="mailto:it-db-nile-admins.cern.ch?Subject=Dedicated%20Cluster" target="_top">DB Nile Admins</a>
  </nb-card-body>
</nb-card>