<nb-card>
  <nb-card-header>Topic Information - {{ topicData?.name }}
    <button class="btn btn-sm btn-success pull-right" (click)="editTopic()">Edit</button>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-xxxl-6 col-md-6">
        <div class="row">
          <div class="col-xxxl-6 col-md-6">
            <p *ngFor="let info of topicData?.config | kv">
              {{ info.key }}:
              <span>{{ info.value }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>