<nb-card>
  <nb-card-header>Cluster Information</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-xxxl-6 col-md-6">
        <div class="row">
          <div class="col-xxxl-6 col-md-6">
            <p *ngFor="let info of clusterInfo | arrObjs">{{ info.key }}:
              <span>{{ info.value }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>