@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

@include nb-install-component() {
  $padding: 1rem;

  nb-card-body {
    overflow: hidden;
    padding: $padding;

    iframe {
      width: 100%;
      height: 800px;
    }
  }

  .echart {
    position: absolute;
    height: calc(100% - 2 * #{$padding});
    width: 40%;
  }

  .info {
    margin-left: 45%;
    padding-top: 1.5rem;
    color: nb-theme(color-fg);
  }

  .value {
    font-family: nb-theme(font-secondary);
    font-size: 2rem;
    font-weight: nb-theme(font-weight-bold);
    color: nb-theme(color-fg-heading);
  }

  .details {
    font-size: 1.25rem;
    font-weight: nb-theme(font-weight-bolder);
    line-height: 1;
    span {
      font-size: 1rem;
      font-weight: nb-theme(font-weight-light);
    }
  }

  .text-hint {
    font-size: 1rem;
  }

  @include nb-for-theme(cosmic) {
    color: nb-theme(color-fg-heading);

    .value {
      color: nb-theme(color-fg-highlight);
    }

    .details span {
      color: nb-theme(color-fg);
    }
  }

  @include media-breakpoint-down(xs) {
    .value {
      font-size: 1.75rem;
    }
  }
}
