<div class="row">
  <div class="col-xxxl-3 col-md-6">
    <nb-card>
      <nb-card-header>Instances</nb-card-header>
      <nb-card-body>
        <div class="info">
          <div class="value">{{ instances }}</div>
          <div class="details">
            <span>out of </span>{{ maxInstances }}
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-xxxl-3 col-md-6">
    <nb-card>
      <nb-card-header>VCPUs</nb-card-header>
      <nb-card-body>
        <div class="info">
          <div class="value">{{ vcpus }}</div>
          <div class="details">
            <span>out of </span>{{ maxVcpus }}
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-xxxl-3 col-md-6">
    <nb-card>
      <nb-card-header>Memory</nb-card-header>
      <nb-card-body>
        <div class="info">
          <div class="value">{{ memory }}</div>
          <div class="details">
            <span>out of </span>{{ maxMemory }}
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-xxxl-3 col-md-6">
    <nb-card>
      <nb-card-header>Volumes</nb-card-header>
      <nb-card-body>
        <div class="info">
          <div class="value">{{ volumes }}</div>
          <div class="details">
            <span>out of </span>{{ maxVolumes }}
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<nb-card>
  <nb-card-header>Grafana -
    <a href="https://monit-grafana.cern.ch/d/000000290/kafka-cluster" target="_blank">Go to Grafana</a>
  </nb-card-header>
  <nb-card-body>
    <iframe [src]="grafana | safe" allowfullscreen></iframe>
  </nb-card-body>
</nb-card>